# This is a Databricks asset bundle definition for {{.project_name}}.
# See https://docs.databricks.com/dev-tools/bundles/index.html for documentation.
{{$isDLT := eq .is_dlt true}}{{if $isDLT}}project{{else}}bundle{{end}}:
  name: {{.project_name}}
  {{if not $isDLT}}uuid: {{bundle_uuid}}{{end}}

include:
  {{if $isDLT}}- ./*.yml{{else}}- resources/*.yml
  - resources/*/*.yml{{end}}

# Variable declarations. These variables are assigned in the dev/prod targets below.
variables:
  catalog:
    description: The catalog to use
  schema:
    description: The schema to use
  notifications:
    description: The email addresses to use for failure notifications

targets:
  dev:
    # The default target uses 'mode: development' to create a development copy.
    # - Deployed resources get prefixed with '[dev my_user_name]'
    # - Any job schedules and triggers are paused by default.
    # See also https://docs.databricks.com/dev-tools/bundles/deployment-modes.html.
    mode: development
    default: true
    {{if $isDLT}}deploy_on_run: true{{end}}
    workspace:
      host: {{workspace_host}}
    variables:
      catalog: {{.default_catalog}}
      schema: {{template `dev_schema` .}}
      notifications: []

  prod:
    mode: production
    workspace:
      host: {{workspace_host}}
      {{if not $isDLT}}# We explicitly deploy to /Workspace/Users/{{user_name}} to make sure we only have a single copy.
      root_path: /Workspace/Users/{{user_name}}/.bundle/${bundle.name}/${bundle.target}}{{end}}
    {{if $isDLT}}owner: user@company.com{{else}}permissions:
      - {{if is_service_principal}}service_principal{{else}}user{{end}}_name: {{user_name}}
        level: CAN_MANAGE{{end}}
    variables:
      catalog: {{.default_catalog}}
      schema: {{template `prod_schema` .}}
      notifications: [{{user_name}}]
